# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist/*
!dist/login_widget.html
!dist/login_widget.css
!dist/manifest.json
!dist/widget.css
!dist/widget.html
!dist/widget.js
!dist/vite.svg
!dist/auth.html
!dist/auth.js
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
